.card{
    width: 786px;
    height: auto;
    background-color: white;
    margin-bottom: 30px;
    padding: 30px;
    border-radius: 15px;
}

.card-content{
    display: flex;
    align-items: center;
    justify-content: start;
}

.icon{
    width: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hospital-details{
    width: 100%;
}

.details{
    display: flex;
    flex-direction: column;
    align-items: start;
    line-height: 1px;
    padding-left: 20px;
}

.details h3{
    color: rgba(42, 167, 255, 1);
    font-size: 18px;
}

.booking{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.rating{
    width: 45px;
    height: 30px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
}

.book-now{
    width: 200px;
    height: 45px;
    background-color: rgba(42, 167, 255, 1);
    color: white;
    border: none;
    border-radius: 7px;
    font-size: 16px;
    cursor: pointer;
}

.division{
    width: 100%;
    border: none;
    border-top: 1px solid #ccc;
    margin: 20px 0;
}

.calendar{
    display: flex;
}

.day{
    font-size: 18px;
    text-align: center;
    cursor: pointer;
}

.day.selected{
    border-bottom: 3px solid rgba(42, 167, 255, 1);
    font-weight: bold;
}

.appointment-slots{
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    text-align: start;
    font-size: 16px;
    padding: 30px;
}

.slot-group{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 40px;
}

.slot-group p{
    width: 80px;
}

.slot-btn{
    background-color: white;
    color: rgba(42, 167, 255, 1);
    font-size: 18px;
    padding: 10px 15px;
    border: 1px solid rgba(42, 167, 255, 1);
    margin-right: 40px;
    border-radius: 5px;
    cursor: pointer;
}

.slot-btn.selected{
    background-color: rgba(42, 167, 255, 1);
    color: white;
    font-size: 20px;
}